In [9]:
import glob
import shutil

In [10]:
book_list1 = glob.glob('*1_ingest_data*')  # The asterisk is a wildcard that will account for any characters before and after 'book1' 
i1 = len(book_list1) - 1     # we get the last item of a list by getting the length and subtracting 1, because all lists start indexing at 0

In [11]:
source = book_list1[i1]     # the file we're copying
destination = 'book_1.ipynb'   # the new file without the version number, underscore differentiates from original file
print(source, destination)
_=shutil.copy(source, destination)  # by adding _= before shutil, we can suppress the annoying output

1_ingest_data.ipynb book_1.ipynb

In [12]:
%run book_1.ipynb            # now we can run the notebook file, and not worry about changing the code to account for the new version

In [13]:
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [14]:
# Fill in missing values. There are many other things we can / should do to clean up the data, but here we are just
# doing the absolute minimum necessary to proceed.
data['bill_length_mm'].fillna(data['bill_length_mm'].mean(), inplace=True)
data['bill_depth_mm'].fillna(data['bill_depth_mm'].mean(), inplace=True)
data['flipper_length_mm'].fillna(data['flipper_length_mm'].mean(), inplace=True)
data['body_mass_g'].fillna(data['body_mass_g'].mean(), inplace=True)
data['sex'].fillna(data['sex'].value_counts().index[0], inplace=True)

# Scale the data so that each column is between 0 and 1, to ensure large numbers don't have too much of an overstated effect.
scaler = MinMaxScaler()
data_norm = scaler.fit_transform(data[["bill_length_mm", "bill_depth_mm", "flipper_length_mm", "body_mass_g"]])
norm_names = scaler.get_feature_names_out()
data2 = pd.DataFrame(data_norm, columns=norm_names)

In [16]:
data2

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0          0.254545       0.666667           0.152542     0.291667
1          0.269091       0.511905           0.237288     0.305556
2          0.298182       0.583333           0.389831     0.152778
3          0.429888       0.482282           0.490088     0.417154
4          0.167273       0.738095           0.355932     0.208333
..              ...            ...                ...          ...
339        0.429888       0.482282           0.490088     0.417154
340        0.534545       0.142857           0.728814     0.597222
341        0.665455       0.309524           0.847458     0.847222
342        0.476364       0.202381           0.677966     0.694444
343        0.647273       0.357143           0.694915     0.750000

[344 rows x 4 columns]